
<div id="page_wrapper">
  <h1>New Post</h1>
  
  <%= form_for :post, url: posts_path do |post| %>

  <% if @post.errors.any? %>
    <div id="errors">
      <h2><%= pluralize(@post.errors.count, "error") %> prevented this  post from saving.</h2>
      <ul>
        <% @post.errors.full_messages.each do |message| %>
          <li><%= message %></li> 
        <% end %>
      </ul>
    </div>
  <% end %>

    <p>
      <%= post.label :title %><br>
      <%= post.text_field :title %>
    </p>
    <p>
      <%= post.label :body %><br>
      <%= post.text_area :body %>
    </p>
    <p>
      <%= post.submit %>
    </p>
  
  <% end %>
</div>